<!doctype html>
<html>
  <head>
<title>SF Pipeline Home Page</title>

<link rel="stylesheet" type="text/css" href="static/main.css">
  </head>

<body onload="loadFilters()">



 <!--  TODO::Configure BootStrap -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> -->

<h1> Welcome to the San Francisco Development Pipeline </h1>
 <h3 id="details">Click on a neighborhood or select filters for development insights</h3>
<div id = "map"> </div>

<div id = "listings"> </div>
</body>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<!-- D3 -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!--  jQuery  -->
<!-- 	TODO::Configure Bootstrap -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script> -->

<script src="static/renderSF.js"></script>
</html>