<!doctype html>
<html>
  <head>
<title>SF Pipeline Home Page</title>

<link rel="stylesheet" type="text/css" href="static/main.css">
  </head>
<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">




<body class= "main" onload="loadFilters()">

	<div class = "main">



 <!--  TODO::Configure BootStrap -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> -->

<h1> Welcome to the San Francisco Development Pipeline </h1>
 <h3 id="details">Click on a neighborhood or select filters for development insights</h3>
 <div id ="filters"> </div>
<div id = "map"> </div>
<div id = "listings"> </div>


</div>

</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- D3 -->
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!-- Bootstrap -->
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

<script src="static/renderSF.js"></script>
</html>